.tvShowContainer {
  display: flex;
  flex-direction: column;
  gap: 30px; 
  padding: 20px; 
  background-color: #fff0f7; 
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 20px; 
}

.tvShowHeader {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  align-items: center; 
  background-color: #ffebf2;
  padding: 15px; 
  border-radius: 10px;
}

.tvShowPoster {
  width: 100%;
  max-width: 300px;
  height: auto; 
  border-radius: 10px;
}

.tvShowTitle {
  font-family: 'Playfair Display', serif;
  font-size: 2rem; 
  color: #f26a8d; 
  margin-bottom: 10px;
  text-align: center; 
}

.tvShowDescription {
  font-size: 1rem; 
  color: #4f3d5c; 
  line-height: 1.5;
  text-align: center;
}

@media (max-width: 768px) {
  .tvShowContainer {
    padding: 20px;
  }

  .tvShowHeader {
    flex-direction: column; 
    align-items: center;
  }

  .tvShowPoster {
    max-width: 90%; 
    height: auto;
  }

  .tvShowTitle {
    font-size: 1.8rem; 
  }

  .tvShowDescription {
    font-size: 0.9rem; 
  }

  .genreItem {
    font-size: 0.9rem; 
  }
}

@media (max-width: 480px) {
  .tvShowTitle {
    font-size: 1.5rem;
  }

  .tvShowDescription {
    font-size: 0.85rem; 
  }

  .errorMessage {
    font-size: 1.2rem; 
  }

  .button {
    padding: 10px 15px;
    font-size: 0.9rem; 
  }
}

.castItem,
.tvShowImageItem {
  width: 100%; 
  max-width: 150px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
}

.castProfile,
.tvShowImage {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}
