/* Style pour les éléments cliquables */
.clickable-item {
    padding: 6px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.85rem;
    transition: transform 0.2s ease;  /* Transition de zoom */
  }
  
  .clickable-item:hover {
    transform: scale(1.05);  /* Zoom léger au survol */
  }
  
  .clickable-item:active {
    transform: scale(1);  /* Reviens à la taille normale lors du clic */
  }
  