.carouselContainer {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 16px;
  padding: 16px 0;
}

.carouselContainer::-webkit-scrollbar {
  display: none; /* Cache la barre de défilement */
}

.carouselItem {
  flex: 0 0 auto;
  width: 150px; /* Largeur par défaut pour les écrans larges */
  text-align: center;
}

.poster {
  width: 100%;  /* Utilise 100% de la largeur de l'élément parent */
  height: 300px;  /* Hauteur fixe pour uniformité */
  object-fit: cover;  /* S'assure que l'image s'adapte à la taille sans déformation */
  border-radius: 8px;  /* Coins arrondis */
  transition: transform 0.3s;  /* Transition fluide lors des transformations */
}

.poster:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.title {
  font-size: 14px;
  color: #333; /* Couleur par défaut */
  margin-top: 8px;
}

/* Styles responsives */
@media (max-width: 768px) {
  .carouselItem {
    width: 120px; /* Réduit la largeur pour les tablettes */
  }

  .poster {
    height: 200px; /* Réduit la hauteur des images pour les tablettes */
  }

  .title {
    font-size: 12px; /* Réduit la taille de la police pour les tablettes */
  }
}

@media (max-width: 480px) {
  .carouselItem {
    width: 100px; /* Réduit encore plus la largeur pour les petits écrans */
  }

  .poster {
    height: 150px; /* Réduit la hauteur des images pour les petits écrans */
  }

  .title {
    font-size: 10px; /* Réduit encore la taille de la police pour les petits écrans */
  }
}
