.layoutContainer {
  display: flex;
  min-height: 100vh;
}


.mainContent {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9; 
  overflow: hidden;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease; 
}

.mainContent.shifted {
  transform: translateX(250px);
}

.dark .mainContent {
  background-color: #111827; 
  color: #f9fafb;
}

.dark .layoutContainer {
  background-color: #1f2937; 
}

@media (max-width: 768px) {
  .layoutContainer {
    flex-direction: column; 
  }

  .mainContent {
    padding: 15px; 
  }

  .mainContent.shifted {
    transform: translateX(0); 
  }
}

@media (max-width: 480px) {
  .mainContent {
    padding: 10px; 
  }
}
