.container {
  padding: 2rem; 
  background-color: #fce4ec; /* Couleur de fond pour le mode clair */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif; 
  transition: background-color 0.3s ease; /* Transition pour la couleur de fond */
}

.title {
  font-size: 3rem; 
  color: #f50057; 
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 700; 
  text-transform: uppercase; 
  transition: color 0.3s ease; /* Transition pour la couleur */
}

.description {
  font-size: 1.125rem; 
  text-align: center;
  margin-bottom: 2rem;
  color: #555; /* Couleur du texte pour le mode clair */
  line-height: 1.6; 
  transition: color 0.3s ease; /* Transition pour la couleur */
}

.moviesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 1.5rem; 
  width: 100%;
  max-width: 1200px; 
  padding: 1rem; 
}

.movieCard {
  background: #f48fb1; /* Couleur de fond pour le mode clair */
  padding: 1.25rem; 
  border-radius: 12px; 
  color: #fff; /* Couleur du texte pour le mode clair */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; 
  cursor: pointer;
  overflow: hidden;
}

.movieCard:hover {
  transform: translateY(-8px); 
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15); 
  background-color: #f06292; /* Couleur de fond au survol pour le mode clair */
}

.movieCard:active {
  transform: scale(0.98);
  background-color: #e91e63; /* Couleur de fond active pour le mode clair */
}

.movieCard img {
  width: 100%;
  height: auto;
  border-radius: 8px; 
  transition: transform 0.3s ease;
}

.movieCard img:hover {
  transform: scale(1.05); 
}

/* Styles responsives */
@media (max-width: 768px) {
  .title {
    font-size: 2.5rem; /* Ajustement de la taille de la police du titre */
  }

  .description {
    font-size: 1rem; /* Ajustement de la taille de la police de la description */
  }

  .moviesGrid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajustement de la grille */
    gap: 1rem; /* Réduction de l'espacement */
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2rem; /* Réduction supplémentaire de la taille de la police du titre */
  }

  .description {
    font-size: 0.875rem; /* Réduction supplémentaire de la taille de la police de la description */
  }

  .moviesGrid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Ajustement pour les petits écrans */
    gap: 0.5rem; /* Espacement réduit */
  }

  .movieCard {
    padding: 1rem; /* Ajustement du remplissage pour les cartes de films */
  }
}
